<main>
    <div class="login-header">
        <i class="fas fa-sign-in-alt fa-2x"> Login </i>
    </div>

    <!--
    <a *ngIf="selected.google" class="google-btn login-option" href="http://localhost:3000/auth/google">
        <i class="fab fa-google"></i>
        <span>Log in with Google</span>
    </a>
    <a *ngIf="selected.facebook" class="facebook-btn login-option" href="http://localhost:3000/auth/facebook">
        <i class="fab fa-facebook-square"></i>
        <span>Log in with Facebook</span>
    </a>
    <a *ngIf="selected.twitter" class="twitter-btn login-option" href="http://localhost:3000/auth/twitter">
        <i class="fab fa-twitter"></i>
        <span>Log in with Twitter</span>
    </a>
    <a *ngIf="selected.linkedin" class="linkedin-btn login-option" href="http://localhost:3000/auth/linkedin">
        <i class="fab fa-linkedin"></i>
        <span>Log in with linkedin</span>
    </a>
    <a *ngIf="selected.line" class="line-btn login-option" href="http://localhost:3000/auth/line">
        <i class="fab fa-line"></i>
        <span>Log in with LINE</span>
    </a>
    <a *ngIf="selected.email"class="local-btn login-option" href="http://localhost:3000/local/login">
        <i class="fas fa-at"></i>
        <span>Log in with Email Address</span>
    </a>
-->
<a  class="google-btn login-option" href="http://localhost:3000/auth/google">
    <i class="fab fa-google"></i>
    <span>Log in with Google</span>
</a>
<a  class="facebook-btn login-option" href="http://localhost:3000/auth/facebook">
    <i class="fab fa-facebook-square"></i>
    <span>Log in with Facebook</span>
</a>
<a  class="twitter-btn login-option" href="http://localhost:3000/auth/twitter">
    <i class="fab fa-twitter"></i>
    <span>Log in with Twitter</span>
</a>
<a  class="linkedin-btn login-option" href="http://localhost:3000/auth/linkedin">
    <i class="fab fa-linkedin"></i>
    <span>Log in with linkedin</span>
</a>
<a  class="line-btn login-option" href="http://localhost:3000/auth/line">
    <i class="fab fa-line"></i>
    <span>Log in with LINE</span>
</a>
<a class="local-btn login-option" href="http://localhost:3000/local/login">
    <i class="fas fa-at"></i>
    <span>Log in with Email Address</span>
</a>


</main>