.container {
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    border: var(--dev-border);
    gap: 20px;
    color: #616161;

    padding: 20px;

    border: 1px #aaa solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #f2f2f2;
    
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgb(231, 229, 229);
    
}

div {
    border: var(--dev-border);
}



.name {
    font-size: 16px;
    font-weight: bold;
}

.email {
    font-size: 12px;
}

.id {
    font-size: 12px;
}

.id i {
    padding-right: 10px;
    color: #00A3E7;
}


.container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    margin-top: 50px;
    margin-bottom: 100px;

    align-items: center;
    justify-content: center;
    border: var(--dev-border);
    gap: 10px;
    
    color: #00A3E7;
}

.login-title {
    padding-left: 20px;
    padding-right: 20px;
    color: #616161;
}


a {
    padding: 5px;
    border-radius: 5px;
}

span {
    padding-left: 10px;
    border: var(--dev-border);
}

a:hover {
    background-color: #f2f2f2;
    box-shadow: 3px 3px 10px #aaa;
}
